<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wit.hillfort">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.map.HillfortMapView"
            android:label="@string/title_activity_hillfort_maps"
            android:theme="@style/AppTheme">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- Splash Screen -->
        <activity android:name=".views.splash.SplashActivity">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <!-- Authentication Screen -->
        <activity

        android:name=".activities.AuthenticationActivity"
            android:label="@string/title_activity_login" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>


        <activity android:name=".views.hillfortlist.HillfortListView" /> <!-- Single hillfort activity -->
        <activity
            android:name=".views.hillfort.HillfortView"
            android:parentActivityName=".views.hillfortlist.HillfortListView" /> <!-- Map activity -->
        <activity
            android:name=".views.location.EditLocationView"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".views.image.ImageActivity"
            android:parentActivityName=".views.hillfort.HillfortView" />
        <activity android:name=".views.usersettings.UserSettingsActivity"></activity>
    </application>

</manifest>